<nav>
    <h1>Bienvenido {{ userName }}</h1>
    <ul>
        <li><a href="./">Productos</a></li>
        <li><a href="./carrito">Carrito</a></li>
        <li><a href="./profile">Perfil</a></li>
    </ul>
        <div class="title">
            <form action="/logout" method="POST">
            <input type="hidden" name="userName" value="{{ userName }}">
            <button>Logout</button>
            </form>
        </div>
</nav>

<section id="sectionProfile">
    <div>
        <img src="{{ avatar }}" alt="{{ name }}">
        <div>
            <h4>Nombre: {{ name }}</h4>
            <h5>Email: {{ email }}</h5>
            <h5>Dirección: {{ address }}</h5>
            <h5>Edad: {{ age }}</h5>
            <h5>Teléfono: {{ phone }}</h5>
        </div>
    </div>
</section>